<h3 class="requestHeader rusty-red-text"> Admin Requests </h3>
<ul>
<% @messages.each do |message| %>
<li class="oneRequest">
<p><%= message.user.first_name %>  <%= message.user.last_name %></p>
<form class="admin_maker" action="/request_admin" method="post">
 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
 <input type="hidden" name="user_id" value=<%= message.user.id %>>
 <input type="hidden" name="timeline_id" value=<%= message.timeline_id %>>
 <input type="hidden" name="status" value="2">
<button class="btn waves-effect waves-light center-align" type="submit">Make Admin</button>
</form>
</li>
<% end %>
</ul>