<%= javascript_include_tag 'main' %>

<section class="cd-horizontal-timeline loaded">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol> 

<% @contents.each do |cluster| %>
					<li>
						<a href="#0" class="<%= 'selected' if cluster == @contents.first %>" data-date="<%= cluster[:date].strftime('%d/%m/%Y') %>"><%= cluster[:date].strftime('%b %d')%></a>
					</li>
<% end %>
				</ol> 

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>

<% @contents.each do |cluster| %>

			<li class="<%= 'selected' if cluster == @contents.first %>" data-date="<%= cluster[:date].strftime('%d/%m/%Y') %>">
				<h4><%= cluster[:date].strftime('%B %d, %Y')%></h4>

				<% cluster[:contents].each do |content| %>
				<% if content[:content].category_id == 4 %>
				<script>
					$.get("https://www.googleapis.com/books/v1/volumes?q=isbn:9781908323125", function(res){
						$('#book<%= content[:content].category.id %>').html(
						"<div class='row'>" + 
						"<div class='col s3'>" + 
						"<h4><img src='" + res.items[0].volumeInfo.imageLinks.thumbnail + "'>" +
 						"</h4></div>" +
						"<div class='col s9'>" +
						"<h4><a href='" +  res.items[0].accessInfo.webReaderLink + "' target='_blank'>" + res.items[0].volumeInfo.title + "</a></h4>" +
						"<h5> By " + res.items[0].volumeInfo.authors[0] + "</h5>" +
						"<p>" + res.items[0].volumeInfo.description + "</p>" +
						"</div>" +
						"</div>"
						);
					})
				</script>
				<div id="book<%= content[:content].category.id %>"></div>
				
				<% elsif content[:content].category_id == 1 %>
				<h5><a href="<%= content[:content].link %>" target="_blank"><%= content[:content].title %></a></h5>
				<% elsif content[:content].category_id == 2 %>
				<h5><%= content[:content].title %></h5>
				<div id="embed<%= content[:content].id %>">
				</div>
				<%= raw content[:content].link %>

				<% end %>
				<p><%= content[:content].description %></p>
				<p class="endOfContent"> Tags: 
				<% for i in 0...content[:tags].length %>
					<a href="#!" class="keywordSearch" action="/display_timeline/<%= @timeline.id %>" keyword="<%= content[:tags][i].name %>"><%= content[:tags][i].name %></a>
					<% if i != content[:tags].length - 1 %>
					, 
					<% end %>
				<% end %>
				</p>
				<% end %>

			</li>
<% end %>
			
		</ol>
	</div> <!-- .events-content -->
</section>