<%= render "shared/real_header" %>
<div class="container">
<div id="timelineDashboardHeader">
<h4 id="timelineLabel"></h4><a id="timelineNav" href="" class="btn waves-effect waves-light center-align black">Go to Timeline</a>
</div>
<div id="timelinePreview">

</div>
 
<h4>Subscribed Timelines</h4>
<% if @user_timelines %>
<% @user_timelines.each do |timeline| %>
<a class="previewTimeline btn waves-effect waves-light center-align" timeline="<%= timeline.id %>">
	<%= timeline.title %>
</a>
<% end %>
<% end %>
<h4>Managed Timelines</h4>
<% if @admin_timelines %>
<% @admin_timelines.each do |timeline| %>
<a class="previewTimeline btn waves-effect waves-light center-align light-blue darken-4" timeline = <%= timeline.id %>><%= timeline.title %></a>
<% end %>
<% end %>

<div class="container">
<p class="green-text"><%= flash[:notice] %></p>
<% if flash[:alert] %>
  <% flash[:alert].each do |alert| %>
<p class="red-text"><%= alert %></p>
  <% end %>
<% end %>
<div id="timelineCreation">
<h5> Make a new timeline </h5>
<form action="/timelines" method="post">
	 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<div class="input-field">
		<input type="text" name="timeline[title]" id="name">
		<label for="name">Name</label>
	</div>
	<button class="btn waves-effect waves-light center-align" type="submit">Create</button>
</form>
</div>
</div>

</div>