<%= render "shared/real_header"%>
  <ul id="slide-out" class="side-nav fixed">
  	 <li><a class="subheader">View Settings</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">By Scope<i class="material-icons">view_day</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
                <a id="thisMonthA">This Month</a>
				<form action="/display_timeline/<%= @timeline.id %>" id="thisMonthly">
					 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					 <input type="hidden" name="scope" value="1">
				</form>
                </li> 
                <li>
                	<a id="lastSixA">Last Six Months</a>
					<form action="/display_timeline/<%= @timeline.id %>" id="lastSix">
						 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					 	<input type="hidden" name="scope" value="2">
					</form>
                </li>
                <li><a id="lastTwoYearsA">Last Two Years</a></li>
                	<form action="/display_timeline/<%= @timeline.id %>" id="lastTwoYears">
						 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					 	<input type="hidden" name="scope" value="3">
					</form> 
                <li>
                	<a id="fromBeginningA">From the Beginning</a>
                	<form action="/display_timeline/<%= @timeline.id %>" id="fromBeginning">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					 	<input type="hidden" name="scope" value="4">
					</form>

                </li>
              </ul>
            </div>
          </li>
        </ul>
       </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">By Date<i class="material-icons">date_range</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
           <div class="container">
			<form id="dateRange" action="/date_query/<%= @timeline.id %>" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<div class="row">
					<div class="col s12">
					<div class="input-field">
						<span>From:</span>
						<input type="text" class="date searchDate" name="begin_date" id="beginDate">
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
					<div class="input-field">
						<span>To:</span>
						<input type="text" class="date searchDate" name="end_date" id="endDate">
					</div>
					</div>
				</div>
				<button class="btn waves-effect waves-light center-align" type="submit">Update View</button>
			</form>
		</div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
       </li>
       <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">By Tag<i class="material-icons">library_books</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <div class="container">
					<form id="keywordSearch" action="/tag_query/<%= @timeline.id %>" method="post">
					 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					 <select id="logic" name="logic">
					 	<option disabled selected>Search Logic</option>
						<option value="0">AND</option>
						<option value="1">OR</option>
					 </select>
           <% if @keywords %>
					 <% @keywords.each do |tag| %>
						
							<input type="checkbox" id="tag<%= tag.id %>" name="keywords[]" value="<%= tag.id %>">
							<label for="tag<%= tag.id %>"><%= tag.name %></label>
						
          <% end %>
					<% end %>
					<button class="btn waves-effect waves-light center-align" type="submit">Update View</button>
					</form>
				  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
       </li>

  

  	  <li><div class="divider"></div></li>
	<li style="padding-top: 6em">
	<% if !(@is_admin || @is_subscriber || !session[:user_id]) %>
	<div class="center-align">
	<form action="/subscribe" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		 <input type="hidden" name="timeline_users[user_id]" value=<%= session[:user_id] %>>
		 <input type="hidden" name="timeline_users[timeline_id]" value=<%= @timeline.id %>>
		<button class="btn waves-effect waves-light center-align" type="submit">Subscribe</button>
	</form>
	<% end %>
  <% if @is_subscriber && !@is_admin %>
    <form action="/handle_request" method="post">

    
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="hidden" name="_method" value="patch">
     <input type="hidden" name="user_id" value=<%= session[:user_id] %>>
     <input type="hidden" name="timeline_id" value=<%= @timeline.id %>>
    <button class="btn waves-effect waves-light center-align" type="submit">Request Admin</button>
  </form>
  <% end %>
	</li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"></a>
</div>

<div id="main">
<h3> <%= @timeline.title %> </h3>
<p id="queryParameters">From the Beginning</p>
<!-- Where the partial is rendered -->
	<div id="timelineDisplay">

	</div>
<!-- ****** -->
<% if @is_admin %>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li>
      	<a class="addContentMod btn-floating yellow darken-1" location="/messages/<%= @timeline.id %>" function="messages"><i class="material-icons">format_quote</i></a>
      </li>
      <li>
      <div>
      	<a class= "addContentMod btn-floating green" location="/add_content/<%= @timeline.id %>" function="add_content"><i class="material-icons">publish</i></a>
      </div>
      </li>
    </ul>
  </div>
<% end %>
</div>
  <div id="addContentModal" class="modal">
    <div class="modal-content">
      <div id="modalContents" class="container">
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>